<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <app-weather slot="end"></app-weather>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="../../assets/icon/nosotros.jpg">
  </ion-card>
  <ion-card>
    <ion-button expand="block" routerLink="/star-wars" color="warning">Star Wars</ion-button>
    <ion-button expand="block" routerLink="/intro">Logout</ion-button>
  </ion-card>
</ion-content>
