<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <app-weather slot="end"></app-weather>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="assets/icon/barber.jpeg">
    <h2>Horarios de Lunes a Sabado<br>3:00pm a 7:00pm<br><br>Somos una empresa 100% mexicana enfocada
     en la atencion a nuestros clientes y queremos que cada corte sea una experiencia, tenemos valores
    como la honestidad y siempre respeto en cada una de nuestras sucursales no se permite ningun tipo de
  discrimacion</h2>
  </ion-card>
  <ion-card>
    <ion-button expand="block" routerLink="/star-wars" color="warning">Star Wars</ion-button>
    <ion-button expand="block" routerLink="/intro">Logout</ion-button>
  </ion-card>
</ion-content>
