ion-slides{
  --bullet-background-active:#9B7634;
  --bullet-background: #F5F5F5;
  width: 100%;
  height: 100%;
  }
ion-button {
  --background: #9B7634;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
}