<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>    
      </ion-buttons>
      <ion-title color="primary">NUEVOS PRODUCTOS</ion-title>
      <app-weather slot="end"></app-weather>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="fix">
      <img src="../../assets/icon/crecimiento.png">
      <ion-card-header>
        <ion-card-title color="primary">Crecimiento de Barba</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>$15</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta2></app-alerta2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="fix">
      <img src="../../assets/icon/pmade.jpg">
      <ion-card-header>
        <ion-card-title color="primary">Cera para el pelo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>$15</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta2></app-alerta2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="fix">
      <img src="../../assets/icon/barba.png">
      <ion-card-header>
        <ion-card-title color="primary">Tratamiento de barba</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>$15</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta2></app-alerta2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
