<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="cards">AGENDA TU CORTE</ion-title>
      <app-weather slot="end"></app-weather>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card routerLink="/agenda" class="contento">
    <img src="../../assets/icon/cut1.jpg">
    <ion-card-header>
      <ion-card-subtitle class="container-subcard">Messy Pomp</ion-card-subtitle>
      <ion-card-title class="container-subcard">$150 MXN</ion-card-title>
    </ion-card-header>
    <ion-card-content class="container-subcard">Tipo de desvanecido que direcciona el peinado hacia atrás.
      <br><br>
      <button routerLink="/agenda" class="boton_personalizado">Horarios</button>
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/agenda" class="contento">
    <img src="../../assets/icon/cut2.png">
    <ion-card-header>
      <ion-card-subtitle class="container-subcard">Man Bun</ion-card-subtitle>
      <ion-card-title class="container-subcard">$250 MXN</ion-card-title>
    </ion-card-header>
    <ion-card-content class="container-subcard">Perfecto para cabello largo, el chongo masculino te da un amplio espacio para experimentar.
      <br><br>
      <button routerLink="/agenda" class="boton_personalizado">Horarios</button>
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/agenda" class="contento">
    <img src="../../assets/icon/cut3.jpg">
    <ion-card-header>
      <ion-card-subtitle class="container-subcard">Burst Taper</ion-card-subtitle>
      <ion-card-title class="container-subcard">$200 MXN</ion-card-title>
    </ion-card-header>
    <ion-card-content class="container-subcard">Desvanecimiento conico de rafaga que a menudo se combina con un peinado mohaw.
      <br><br>
      <button routerLink="/agenda" class="boton_personalizado">Horarios</button>
    </ion-card-content>
  </ion-card>
</ion-content>
