<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>AGENDA</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab1"color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    
    <ion-card class="fix">
      <ion-card-header>
        <ion-card-title color="primary">Horario 1</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>2:00 - 3:00</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta1></app-alerta1>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>  
    <ion-card class="fix">
      <ion-card-header>
        <ion-card-title color="primary">Horario 2</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>3:00 - 4:00</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta1></app-alerta1>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="fix">
    <ion-card-header>
        <ion-card-title color="primary">Horario 3</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>4:00 - 5:00</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta1></app-alerta1>
          </ion-col>
        </ion-row>
      </ion-card-content>
</ion-card>
<ion-card class="fix">
      <ion-card-header>
        <ion-card-title color="primary">Horario 4</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>5:00 - 6:00</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta1></app-alerta1>
          </ion-col>
        </ion-row>
      </ion-card-content>
</ion-card>
<ion-card class="fix">
      <ion-card-header>
        <ion-card-title color="primary">Horario 6</ion-card-title>   
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="primary">
              <h1>6:00 - 7:00</h1>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <app-alerta1></app-alerta1>
          </ion-col>
        </ion-row>
      </ion-card-content>
</ion-card>
  </ion-list>
</ion-content>
